.categories-details-container {
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: red;
}


summary {
    &::-webkit-details-marker {
        display: none
      }
}
