<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <section class="categories">
        <h1 class="gradient-title">categories</h1>
        <div class="categories-details-container">
            <details>
                <summary>Alternative</summary>
                <a style="display: block;" href="#">Acoustic Blues</a>
                <a style="display: block;" href="#">Acoustic Blues</a>
                <a style="display: block;" href="#">Acoustic Blues</a>
                <a style="display: block;" href="#">Acoustic Blues</a>
                <a style="display: block;" href="#">Acoustic Blues</a>
            </details>
            <span><i class="fas fa-ellipsis-h"></i></span>
        </div>


    </section>
</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>