<nav class="bottom-nav">
    <a href="#"><i class="fas fa-wave-square"></i></a>
    <a href="#"><i class="fas fa-microphone bottom-nav-active"></i></a>
    <div class="bottom-nav__center-icon">
        <a href="#"> <i class="fas fa-headset"></i></a>
    </div>
    <a href="#"> <i class="fas fa-exchange-alt"></i></a>
    <a href="#"> <i class="fas fa-cogs"></i></a>
</nav>