<nav class="top-nav space-between">
    <a href="#">
        <i class="fas fa-chevron-left"></i>
    </a>
    <h4>Site Title</h4>
    <a href="#">
        <i class="fas fa-search"></i>
    </a>

</nav>