<% include ../partials/head %>
<header>
    <div class="album-details-hero">
        <% include ../partials/header %>
        <div class="padding">
            <h1></h1>
            <p></p>
            <p></p>
            <div style="display: none;" class="hastags">
                <a class="btn-hashtag" href="#">country</a>
                <a class="btn-hashtag" href="#">Songs</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="songs-list">
        <h4>All Songs</h4>
        <!-- inset songs-list-items -->
    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/change-theme.js"></script>
<script src="/assets/js/get-spotify-token.js"></script>
<script src="/assets/js/get-album-details.js"></script>
<% include ../partials/after-footer %>

<template id="songs-list-items">
    <a href="">
        <div class="grid-3-column">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
            <div>
                <h5 class="song-title"></h5>
                <p class="song-Artist"></p>
            </div>
            <p class="song-time">3.58</p>
        </div>
    </a>
</template>