<% include ../partials/head %>
<header>
    <div class="album-details-hero">
        <% include ../partials/header %>
        <div class="padding">
            <h1></h1>
            <p></p>
            <p></p>
            <div style="display: none;" class="hastags">
                <a class="btn-hashtag" href="#">country</a>
                <a class="btn-hashtag" href="#">Songs</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="songs-list">
        <h4>All Songs</h4>
        <!-- inset songs-list-items -->
    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/change-theme.js"></script>
<script src="/assets/js/get-spotify-token.js"></script>
<script src="/assets/js/get-album-details.js"></script>
<% include ../partials/after-footer %>

<template id="songs-list-items">

    <div class="grid-3-column">
        <a id="player-link-btn" href="">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
        </a>

        <div>
            <a id="player-link" href="">
                <h5 class="song-title"></h5>
            </a>
            <a id="artist-link" href="" class="song-Artist"></a>
        </div>

        <p class="song-time">3.58</p>
    </div>

</template>