<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <section class="albums">
        <h1 class="gradient-title">albums</h1>
        <% include ../partials/view-all-container %>
        <!-- Swiper -->
        <div class="swiper-container">
            <div id="album-container" class="swiper-wrapper">
                <!-- indset album template -->
            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
        </div>
        <% include ../partials/view-all-container %>
        <div class="new-releases-container">
        </div>

    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/change-theme.js"></script>
<script src="/assets/js/get-spotify-token.js"></script>
<script src="/assets/js/get-albums.js"></script>
<!-- swiper -->
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>


<% include ../partials/after-footer %>

<template id="album">
    <div data-albumID="" class="swiper-slide get-album-tracks"></div>
</template>

<template id="songs-list-items">
    <div class="grid-3-column">
        <a id="player-link-btn" href="">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
        </a>

        <div>
            <a id="player-link" href="">
                <h5 class="song-title"></h5>
            </a>
            <a id="artist-link" href="" class="song-Artist"></a>
        </div>

        <p class="song-time">3.58</p>
    </div>
</template>