<% include ../partials/head %>
<header>
    <div class="album-details-hero">
        <% include ../partials/header %>
        <div class="padding">
            <h1>Album Title</h1>
            <p>12 songs</p>
            <p>Genres hastags</p>
            <div class="hastags">
                <a class="btn-hashtag" href="#">country</a>
                <a class="btn-hashtag" href="#">Songs</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="songs-list">
        <h4>All Songs</h4>
        <div class="grid-3-column">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
            <div>
                <h5>Title</h5>
                <p>Artist</p>
            </div>
            <p>3.58</p>
        </div>
        <div class="grid-3-column">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
            <div>
                <h5>Title</h5>
                <p>Artist</p>
            </div>
            <p>3.58</p>
        </div>
        <div class="grid-3-column">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
            <div>
                <h5>Title</h5>
                <p>Artist</p>
            </div>
            <p>3.58</p>
        </div>
        <div class="grid-3-column">
            <div class="btn-play">
                <i class="fas fa-play"></i>
            </div>
            <div>
                <h5>Title</h5>
                <p>Artist</p>
            </div>
            <p>3.58</p>
        </div>
    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/get-spotify-token.js"></script>
<script src="/assets/js/get-album-details.js"></script>
<% include ../partials/after-footer %>