<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <section>
        <h1 class="gradient-title">categories</h1>
        <div class="categories-list">
            <ul id="categories" class="categories">
            </ul>

        </div>
    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/get-spotify-token.js"> </script>
<script src="/assets/js/get-categories.js"></script>
<% include ../partials/after-footer %>

<template id="categories-items">
    <li>
        <div class="space-between categories-title-container">
            <h3 class="categories__title"></h3>
            <i class="fas fa-ellipsis-h"></i>
        </div>
        <ul class="close"></ul>
    </li>
</template>

<template id="sub-categories-items">
    <li class="categories-open">
        <a href=""></a>
    </li>
</template>