<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <section class="categories">
        <h1 class="gradient-title">categories</h1>
        <div class="categories-list">
            <ul class="categories-close">
                <li>
                    <div class="">
                        <div class="categories-title space-between red">
                            <h3 class="">Title</h3>
                            <i class="fas fa-ellipsis-h"></i>
                        </div>

                        <ul class="categories-open">
                            <li>
                                <div class="sub-category space-between ">
                                    <h5>sub category</h5>
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>


    </section>
</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>