<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <section class="featured">
        <h1 class="gradient-title">featured</h1>
        <div class="featured__item">
            <img src="/assets/images/microphone.jpg" alt="images">
            <div class="featured__item__text-container">
                <h2>Title</h2>
                <p>Paragraph</p>
            </div>
        </div>
        <div class="featured__item">
            <img src="/assets/images/woman.jpg" alt="images">
            <div class="featured__item__text-container">
                <h2>Title</h2>
                <p>Paragraph</p>
            </div>
        </div>
    </section>
</main>
<% include ../partials/footer %>
<% include ../partials/get-spotify-token %>
<script src="/assets/js/get-featured.js"></script>
<% include ../partials/after-footer %>