<% include ../partials/head %>
<main class="player-background">
    <section class="player-section">
        <% include ../partials/top-nav %>

        <div class="progress">
            <div class="player-info">
                <h1>title</h1>
                <h2>artist</h2>
            </div>
            <div class="played">
                <div class="circle"></div>
            </div>
            <div class="controls">
                <i class="fas fa-step-backward"></i>
                <i class="fas fa-backward"></i>
                <i class="fas fa-play font-s-2"></i>
                <i class="fas fa-forward"></i>
                <i class="fas fa-step-forward"></i>
            </div>
        </div>
    </section>
</main>
<% include ../partials/after-footer %>