@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    --padding: 1rem;
    --center-icon-size: 3rem;
    --theme-gradient: linear-gradient(to right,#EE0979, #FF6A00);
    --primary-color: #FF1168;
    --first-grid-item-size: 50px;
    --bottom-nav-height: 5rem;

    --background-color: white;
    --text-color: black;
    --menu-background-color:white;
    --activate-link-color: black;
  }

  html[data-theme="dark"] {
    --background-color: #341931;
    --text-color: white;
    --menu-background-color:#341931; 
    --activate-link-color: white;
  }

  .dark-theme-activate {
    -webkit-text-fill-color: var(--activate-link-color) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    padding: var(--padding);
    margin-bottom: var(--bottom-nav-height);
}

h1 {
    text-transform: capitalize;
    font-size: 3rem;
}

h2 {
    text-transform: capitalize;
    font-size: 2.25rem;
}

h3 {
    text-transform: capitalize;
    font-size: 2rem;
}

h4 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 300;
}

h5 {
    text-transform: capitalize;
}

p {
    margin-bottom: 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}

.gradient-title {
    text-transform: capitalize;
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

