.categories-title-container {
  border-radius: 1rem;
  // color: white;
  background-color: green;

  i {
    font-size: 2rem;
  }
}

.categories {
  display: grid;
  grid-gap: 1rem;
}

.categories-title-container,
.categories-open {
  padding: .3rem 1.5rem;
}