.gradient-title {
  text-transform: capitalize;
  background: var(--theme-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-3-column {
  display: grid;
  grid-template-columns: auto 1fr  auto;
  grid-gap: 1rem;
  align-items: center;

  img {
      object-fit: cover;
      width: var(--first-grid-item-size);
      height: var(--first-grid-item-size);
  }

  p {
      margin: 0;
  }
}

.songs-list {
  display: grid;
  grid-gap: .5rem;
}

.btn-listen-all {
  color: var(--primary-color);
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
}

.padding {
  padding: var(--padding);
}

/* size */

.font-s-2 {
  font-size: 2rem;
}

/* Colors */

.white-text {
  color: white;
  margin-bottom: .5rem;
}

.red {
  background-color:#E54028;
}

.green {
  background-color: green;
}
.pink {
  background-color:#D70060;
}

.yellow {
  background-color:  #F18D05
  ;
}


